.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
* {
  padding: 0;
  margin: 0;
}

.App-link {
  color: #61dafb;
}

.full-container {
  width: 100vw;
  height: 100vh;
}

.input-container {
  width: 400px
}

.post-content {
  flex: 3
}

.post-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.post-detail-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.profile-image {
  width: 60px;
  height: 60px;
  border-radius: 100px;
}

.poster-details p {
  margin: 0 !important;
}

.post-suggestion-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
